
th,td{
	vertical-align: middle!important;
	text-align: center!important;
}


/*=============================================
Formulario SEXO
=============================================
input[type="checkbox"]{
	display:none;
}

label[for="sexo"] span{
	display:inline-block;
	width:20px;
	height:20px;
	background:#E9ECEF;
	vertical-align:middle;
	border-radius:100%;
	margin-right: 5px;
	border:1px solid #aaa;
	cursor:pointer;
}



#signatureparent{
	width:300px; 
	border-bottom:2px solid #333;
}*/
